
@import'seciones';




body{
    background-image: linear-gradient(to right bottom, #b349a5, #bd5bb0, #c66dba, #d07ec5, #d98fcf, #df9bd6, #e6a7dd, #ecb3e4, #f1bdea, #f6c6ef, #fad0f5, #ffdafa);
}


.parrafoIndex {
    display: flex;
    background-color: #ecb3e4;
    justify-content: center;
}